.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem !important;
  position: relative;
}

.search > input[type="text"] {
  position: absolute;
  top: 8rem;
  width: 40%;
  min-width: 170px;
  font-size: 0.8rem;
  padding: 0.2rem;
  font-weight: bolder;
  border-radius: 5px;
  border: navy;
  box-shadow: 6px 8px 10px blue;
}

.search > input[type="text"]:focus {
  background-color: tomato;
  color: azure;
}

.search > input[type="submit"] {
  position: relative;
  top: 10.5rem;
  width: 90px;
  background-color: tomato;
  color: black;
  padding: 5px;
  margin-left: 10px;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  border-radius: 5px;
  border: navy;
  box-shadow: 6px 6px 10px blue;
  cursor: pointer;
}

.search > input[type="submit"]:hover {
  background-color: #0e0e10;
  color: antiquewhite;
}
