.movie {
  padding: 5px 25px 10px 25px;
  margin: 2rem auto -2rem auto;
}

.poster {
  border-radius: 25px;
  -webkit-appearance: none;
  -webkit-box-shadow: 6px 8px 10px #0000ff !important;
  box-shadow: 6px 8px 10px #0000ff !important;
}
